svg{
    width: 20px;
    height: 20px;
    fill: black;
}
button{
    background: none;
    border: none;

}

video{
    width: 720px;
}

.all{
    position: relative;
}

.controls{
    position: absolute;
    bottom: 7px;
    left: 15px;
}