@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	width: 1600px;
}

img {
	display: block;
	max-width: 100%;
}

.container{

}
.first{
width: 652px;
height: 306px;
display: flex;
box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
margin-bottom: 40px;
}
.first_img{

}
.h2{    
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #222222;
margin-bottom: 42px;
}
.first_text{
    width: 262px;
    padding: 22px 0 0 31px;
}
.first_p{
display: flex;
gap: 6px;
flex-direction: column;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
color: #575757;
}
input{
width: 44px;
margin-left: 24px;
}
.first_close{
margin-top: 28px;
margin-left: 80px;
}
.price{
color: #EF5B70;
}
.color, .size{
color: #6F6E6E; 
}
